{% extends "base.html" %}

{% block content %}
<p class="uptoyou-feeling-p">
    お花に込めたい気持ちは？
</p>

<div class="uptoyou-feeling-container">
    <a class="uptoyou-feeling-item" href="{{ url_for('select_words_uptoyou', feeling='love') }}">好きです</a>
    <a class="fuptoyou-feeling-item" href="{{ url_for('select_words_uptoyou', feeling='thanks') }}">ありがとう</a>
</div>
<div class="uptoyou-feeling-container">
    <a class="uptoyou-feeling-item" href="{{ url_for('select_words_uptoyou', feeling='celebration') }}">おめでとう</a>
    <a class="fuptoyou-feeling-item" href="{{ url_for('select_words_uptoyou', feeling='business') }}">成功を願う</a>
</div>


{% endblock %}
