{% extends "base.html" %}

{% block content %}
<div class="uptoyou-flower-p">
    <p>あなたの気持ちにぴったりな花をセレクトしました</p>
</div>

<div class="words-container">
    <div class="double-circle" id="circle{{preference.words}}">
        <div class="inner-circle"></div>
    </div>
    <span id="feeling-word">
        {{ feeling_word }}
    </span>
</div>

<div class="flower-container">
    <img src="{{ url_for('static', filename=merchandise[1]) }}" width="auto" height="140px">
    <div clas="flower-lang-container">
        <br>
        <span id="{{merchandise[4]}}">
            {{ merchandise[2] }}    
        </span>
        <p class="merchandise-word">{{ merchandise[3] }}</p>
    </div>
</div>

<div class="uptoyou-flower-container">
    <a class="uptoyou-flower-item" href="{{ url_for('select_shape_uptoyou', feeling=preference.feeling, words=preference.words, flower=merchandise[0]) }}">
        これで花束を<br>作る
    </a>
</div>

{% endblock %}

