<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Link flos</title>
    <meta name="description" content="Linkflosではあなたの「キモチ・オモイ」を花にリンクさせ、今までにない、あなただけの特別な花をご用意します。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% block header %}{% endblock %}
    {% block content %}内容{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>