{% extends "base.html" %}

{% block content %}
<p class="shape-p">
    あなたの気持ちを<br>
    どのカタチで表しますか？</p>
<div class="shape-container">
    <div class="shape-item">
        <p>➀一輪</p>
        <img src="{{ url_for('static', filename='image/shape/one.png') }}", width="auto", height="100px">
    </div>
    <div class="shape-item">
        <p>➁ブーケ</p>
        <img src="{{ url_for('static', filename='image/shape/bouquet.png') }}", width="auto", height="100px">
    </div>
    <div class="shape-item">
        <a href="{{ url_for('select_feeling', shape='one') }}">1000円<br><span class="tax">(税込み)</span></a>
    </div>
    <div class="shape-item">        
        <div class="shape-value-wrapper">
            <a href="{{ url_for('select_feeling', shape='s-bouquet') }}">S 3000円<br><span class="tax">(税込み)</span></a>
            <a href="{{ url_for('select_feeling', shape='m-bouquet') }}">M 5000円<br><span class="tax">(税込み)</span></a>
        </div>
        <a id="others" href="{{ url_for('select_feeling', shape='l-bouquet') }}">L 10000円<span class="tax">(税込み)</span></a>
    </div>
    <div class="shape-item">
        <p>③カップ</p>
        <img src="{{ url_for('static', filename='image/shape/cup.png') }}", width="auto", height="100px">
    </div>
    <div class="shape-item">
        <p>④ドライフラワー</p>
        <img src="{{ url_for('static', filename='image/shape/driedflower.png') }}", width="auto", height="100px">
    </div>
    <div class="shape-item">
        <a href="{{ url_for('select_feeling', shape='cup') }}">2000円<br><span class="tax">(税込み)</span></a>
    </div>
    <div class="shape-item">
        <a href="{{ url_for('select_feeling', shape='driedflower') }}">3000円<br><span class="tax">(税込み)</span></a>
    </div>
    <div class="shape-item">
        <p>⑤ギフトフラワー</p>
        <img src="{{ url_for('static', filename='image/shape/giftflower.png') }}", width="auto", height="100px">
    </div>
    <div class="shape-item">
        <p>⑥ワインフラワー</p>
        <img src="{{ url_for('static', filename='image/shape/wineflower.png') }}", width="auto", height="100px">
    </div>
    <div class="shape-item">
        <a id="others" href="{{ url_for('select_feeling', shape='giftflower') }}">フラワーバックのみ<br>10000円<span class="tax">(税込み)</span></a>
    </div>
    <div class="shape-item">        
        <a id="others" href="{{ url_for('select_feeling', shape='a-wineflower') }}">A ワイン+フラワー<br>15000円<span class="tax">(税込み)</span></a>
        <a id="others" href="{{ url_for('select_feeling', shape='b-wineflower') }}">B ワイン+フラワー<br>20000円<span class="tax">(税込み)</span></a>
    </div>
    <div class="shape-item">
        <p>⑦相談</p>
    </div>
</div>

{% endblock %}
